.login_title {
    color: black;
    padding-top: rem;
    text-align: center;
    font-size: 2rem;
}

.form {
    width: 100%;
    margin-top: 30px;
}

input {
    font-size: 22px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
    width: 100%;
 }

.username, .password {
    display: block;
    border-radius: 15px;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 10px 0;
}
    
.submit {
    width: 100%;
    border: none;
    font-size: 22px;
    border-radius: 30px;
    padding: 10px;
    background-color: green;
    color: black;
    margin: 3px;
}

.submit:active {
    transform: scale(1.05);
}

input {
    display: flex;
    justify-content: center;
    color: black;
    padding: revert;
    margin: auto auto;
    cursor: pointer;
}

.login-div {
    background-color: #ffffff99;
    margin: 50px auto;
    width: 500px;
    padding: 60px;
}

p.link {
    text-align: center;
}

.new-user {
    width: 100%;
    border: none;
    font-size: 22px;
    border-radius: 30px;
    background-color: green;
    color: black;
    margin: 3px;
    cursor: pointer;
}

.new-user:active {
    transform: scale(1.05);
}

@media all and (max-width: 400px) {
    .login-div {
        background-color: #ffffff99;
        margin: 50px auto;
        width: 300px;
        padding: 60px;
    }    
}