.rounds {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    width: 100px;
}

.dealer {
    display: flex;
    justify-content: center;
}

.player {
    display: flex;
    justify-content: center;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
}

button.start-button {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}