.stats {
    margin: 0 auto;
    display: block; 
    text-align: center;
    transform: translate(0%, 40%);
}

.stats h1 {
    padding: 2rem 0;
}

.stats .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding-bottom: 2rem; */
    line-height: 3;
}

.stats .column {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    background-color: rgba(255, 255, 255, 0.75);
    width: 33%;
    line-height: 3;
}

.headers {
    background-color: rgba(100, 100, 100, 1);
}